{% extends 'base.html' %}
{% csrf_token %}
{% block content %}


<h3 style='text-align: center'>Search History </h3>
<form action="delete_all_history" method="post">
    {% csrf_token %}
        <div class="right-align">
            <button class="btn waves-effect waves-light red" type="submit" name="action">Delete ALL
            <i class="material-icons right">delete_forever</i>
            </button>
        </div>
</form>    
        
    <div class="collection">
        {% for data in history %}
            <a href="#!" class="collection-item">
                <span class="badge">
                    <form action="delete_history/{{ data.id }}" method="post">
                    {% csrf_token %}
                        <button class="btn waves-effect waves-light btn-small red" type="submit" name="action">Delete
                            <i class="material-icons right">delete_forever</i>
                        </button>
                    </form>
                </span>
                <span class="badge">{{ data.created }}</span>{{ data.search }}
            </a>
        {% endfor %}
    </div>
                        
    
    
{% endblock content %}